In [1]:
import pandas as pd
import numpy as np

In [2]:
df = pd.DataFrame(pd.read_csv('LoanStats3a.csv', engine='python'))

In [4]:
df.loan_amnt.head()

0     5000.0
1     2500.0
2     2400.0
3    10000.0
4     3000.0
Name: loan_amnt, dtype: float64

In [5]:
df.loan_amnt.describe()

count    42535.000000
mean     11089.722581
std       7410.938391
min        500.000000
25%       5200.000000
50%       9700.000000
75%      15000.000000
max      35000.000000
Name: loan_amnt, dtype: float64

In [8]:
d = np.linspace(df.loan_amnt.min(), df.loan_amnt.max(),5)
d

array([   500.,   9125.,  17750.,  26375.,  35000.])

In [12]:
np.digitize(df.loan_amnt, d)

array([1, 1, 1, ..., 5, 5, 5], dtype=int64)

In [13]:
len(np.digitize(df.loan_amnt, d))

42542

In [14]:
df['loan_amnt_level'] = np.digitize(df.loan_amnt, d)

In [18]:
df[df.loan_amnt>20000][['loan_amnt', 'loan_amnt_level']].head(10)

     loan_amnt  loan_amnt_level
20     20250.0                3
21     21000.0                3
31     31825.0                4
51     25600.0                3
55     21000.0                3
70     20975.0                3
80     35000.0                5
106    24000.0                3
112    26800.0                4
120    25000.0                3