### mapping 시스템을 딕셔너리로 만들고 목표 시리즈에 mapping 적용

In [2]:
from pandas import DataFrame

In [19]:
data = [
    ['small', 'pink', 30000],
    ['medium', 'red', 25000],
    ['extra_large', 'gray', 18000]
]
df = DataFrame(data, columns=['size', 'color', 'price'])
df

          size color  price
0        small  pink  30000
1       medium   red  25000
2  extra_large  gray  18000

In [20]:
mapping = {
    'small':'S',
    'medium':'M',
    'extra_large':'XL'
}
df.size = df['size'].map(mapping)
df

  size color  price
0    S  pink  30000
1    M   red  25000
2   XL  gray  18000

### for문을 활용하여 mapping 딕셔너리 생성하기 (LabelEncoder로 같은 작업을 간단하게 수행 가능)

In [21]:
df.loc[3] = ['M', 'gray', 42000]
df

  size color  price
0    S  pink  30000
1    M   red  25000
2   XL  gray  18000
3    M  gray  42000

In [22]:
import numpy as np
np.unique(df.color)

array(['gray', 'pink', 'red'], dtype=object)

In [23]:
mapping2 = {color:i for i, color in enumerate(np.unique(df.color))}
mapping2

{'gray': 0, 'pink': 1, 'red': 2}

In [24]:
df.color = df['color'].map(mapping2)
df

  size  color  price
0    S      1  30000
1    M      2  25000
2   XL      0  18000
3    M      0  42000