# 2. DataFrame 생성

In [4]:
from pandas import DataFrame

dictionary를 바탕으로 생성

In [2]:
data = {'state': ['Ohio', 'Ohio', 'Ohio', 'Nevada', 'Nevada'],
        'year': [2000, 2001, 2002, 2001, 2002],
        'pop': [1.5, 1.7, 3.6, 2.4, 2.9]}
data

{'pop': [1.5, 1.7, 3.6, 2.4, 2.9],
 'state': ['Ohio', 'Ohio', 'Ohio', 'Nevada', 'Nevada'],
 'year': [2000, 2001, 2002, 2001, 2002]}

In [5]:
frame1 = DataFrame(data)
frame1

   pop   state  year
0  1.5    Ohio  2000
1  1.7    Ohio  2001
2  3.6    Ohio  2002
3  2.4  Nevada  2001
4  2.9  Nevada  2002

DataFrame 생성할 때 column 순서를 원하는대로 바꿀 수 있음. Series에서처럼 index도 인자로 넣어서 지정할 수 있음.
생성한 이후에 바꾸려면 어떻게 해야하는지 찾아봐야함.

In [8]:
frame2 = DataFrame(data, columns=['year', 'state', 'pop'], index=['00', '01', '02', '03', '04'])
frame2

    year   state  pop
00  2000    Ohio  1.5
01  2001    Ohio  1.7
02  2002    Ohio  3.6
03  2001  Nevada  2.4
04  2002  Nevada  2.9

Series에서 index와 values를 불러올 수 있던 것처럼 index와 columns 리스트를 불러올 수 있음.

In [9]:
frame2.index

Index(['00', '01', '02', '03', '04'], dtype='object')

In [11]:
frame2.columns

Index(['year', 'state', 'pop'], dtype='object')

### 특정 column 불러오기
두 가지 방법 가능

In [12]:
frame2['state']

00      Ohio
01      Ohio
02      Ohio
03    Nevada
04    Nevada
Name: state, dtype: object

In [13]:
frame2.state

00      Ohio
01      Ohio
02      Ohio
03    Nevada
04    Nevada
Name: state, dtype: object

### 특정 row 불러오기

In [14]:
frame2.ix['00']

year     2000
state    Ohio
pop       1.5
Name: 00, dtype: object