# column 추가

In [7]:
from pandas import Series, DataFrame
import numpy as np

In [18]:
data = {'state': ['Ohio', 'Ohio', 'Ohio', 'Nevada', 'Nevada'],
        'year': [2000, 2001, 2002, 2001, 2002],
        'pop': [1.5, 1.7, 3.6, 2.4, 2.9]}
df = DataFrame(data, columns=['year', 'state', 'pop'], index=['00', '01', '02', '03', '04'])
df

    year   state  pop
00  2000    Ohio  1.5
01  2001    Ohio  1.7
02  2002    Ohio  3.6
03  2001  Nevada  2.4
04  2002  Nevada  2.9

### 한 가지 값으로 추가

In [19]:
df['debt'] = np.nan
df

    year   state  pop  debt
00  2000    Ohio  1.5   NaN
01  2001    Ohio  1.7   NaN
02  2002    Ohio  3.6   NaN
03  2001  Nevada  2.4   NaN
04  2002  Nevada  2.9   NaN

In [20]:
df['debt'] = 10.0
df

    year   state  pop  debt
00  2000    Ohio  1.5  10.0
01  2001    Ohio  1.7  10.0
02  2002    Ohio  3.6  10.0
03  2001  Nevada  2.4  10.0
04  2002  Nevada  2.9  10.0

### Series 추가
DataFrame과 Series의 인덱스가 맞아야함.
빈 인덱스는 NaN으로 추가됨.

In [21]:
series1 = Series([-1.2, -1.5, -1.7], index=['00', '01', '03'])
df.debt = series1
df

    year   state  pop  debt
00  2000    Ohio  1.5  -1.2
01  2001    Ohio  1.7  -1.5
02  2002    Ohio  3.6   NaN
03  2001  Nevada  2.4  -1.7
04  2002  Nevada  2.9   NaN

### 리스트 추가

In [22]:
df['city'] = ['Columbus', 'Columbus', 'Columbus', 'Carson', 'Carson']
df

    year   state  pop  debt      city
00  2000    Ohio  1.5  -1.2  Columbus
01  2001    Ohio  1.7  -1.5  Columbus
02  2002    Ohio  3.6   NaN  Columbus
03  2001  Nevada  2.4  -1.7    Carson
04  2002  Nevada  2.9   NaN    Carson

### 다른 column의 데이터를 활용하여 추가

In [23]:
df['eastern'] = df.state=='Ohio'
df

    year   state  pop  debt      city eastern
00  2000    Ohio  1.5  -1.2  Columbus    True
01  2001    Ohio  1.7  -1.5  Columbus    True
02  2002    Ohio  3.6   NaN  Columbus    True
03  2001  Nevada  2.4  -1.7    Carson   False
04  2002  Nevada  2.9   NaN    Carson   False

### row를 추가할 일은 거의 없음