In [1]:
from pandas import Series, DataFrame
import numpy as np

# Series 에서 특정 행 삭제하기

### 1. drop 함수 활용

In [4]:
series1 = Series(np.arange(5.0), index=['a','b','c','d','e'])
series1

a    0.0
b    1.0
c    2.0
d    3.0
e    4.0
dtype: float64

In [5]:
series2 = series1.drop('c')
series2

a    0.0
b    1.0
d    3.0
e    4.0
dtype: float64

인덱스의 리스트를 받아서 한꺼번에 삭제하는 것도 가능

In [6]:
series3 = series1.drop(['a','b'])
series3

c    2.0
d    3.0
e    4.0
dtype: float64

### 2. del - 기존 데이터 원본을 건드림

In [8]:
del series1['c']
series1

a    0.0
b    1.0
d    3.0
e    4.0
dtype: float64

# DataFrame에서 특정 column, row 삭제

In [9]:
data = {'state': ['Ohio', 'Ohio', 'Ohio', 'Nevada', 'Nevada'],
        'year': [2000, 2001, 2002, 2001, 2002],
        'pop': [1.5, 1.7, 3.6, 2.4, 2.9]}
df = DataFrame(data, columns=['year', 'state', 'pop'], index=['00', '01', '02', '03', '04'])
df

    year   state  pop
00  2000    Ohio  1.5
01  2001    Ohio  1.7
02  2002    Ohio  3.6
03  2001  Nevada  2.4
04  2002  Nevada  2.9

### 1. drop 함수
디폴트는 행 삭제 (axis=0).<br/>
열 삭제하려면 axis=1로 주면 됨.

In [11]:
df2 = df.drop('04')
df2

    year   state  pop
00  2000    Ohio  1.5
01  2001    Ohio  1.7
02  2002    Ohio  3.6
03  2001  Nevada  2.4

In [12]:
df3 = df.drop('pop', axis=1)
df3

    year   state
00  2000    Ohio
01  2001    Ohio
02  2002    Ohio
03  2001  Nevada
04  2002  Nevada

인덱스의 리스트를 전달해서 여러 개 한번에 삭제도 가능

In [13]:
df4 = df.drop(['03','04'])
df4

    year state  pop
00  2000  Ohio  1.5
01  2001  Ohio  1.7
02  2002  Ohio  3.6

### 2. del - column 삭제할 때만 활용
영구히 삭제

In [16]:
del df['pop']
df

    year   state
00  2000    Ohio
01  2001    Ohio
02  2002    Ohio
03  2001  Nevada
04  2002  Nevada