In [1]:
from pandas import DataFrame
import numpy as np

In [8]:
df = DataFrame(np.arange(15).reshape((3,5)),
                  index=['#1', '#2', '#3'],
                  columns=['A','B','C','D','E'])
df

     A   B   C   D   E
#1   0   1   2   3   4
#2   5   6   7   8   9
#3  10  11  12  13  14

In [9]:
df.T

   #1  #2  #3
A   0   5  10
B   1   6  11
C   2   7  12
D   3   8  13
E   4   9  14