In [15]:
from pandas import DataFrame
import numpy as np

In [13]:
data = {'state': ['Ohio', 'Ohio', 'Ohio', 'Nevada', 'Nevada'],
        'year': [2000, 2001, 2002, 2001, 2002],
        'pop': [1.5, 1.7, 3.6, 2.4, 2.9]}
df = DataFrame(data, columns=['year', 'state', 'pop'], index=['00', '01', '02', '03', '04'])
df

    year   state  pop
00  2000    Ohio  1.5
01  2001    Ohio  1.7
02  2002    Ohio  3.6
03  2001  Nevada  2.4
04  2002  Nevada  2.9

# 특정 행 불러오기

### 인덱스 활용

In [7]:
df.ix[2]

year     2002
state    Ohio
pop       3.6
Name: 02, dtype: object

In [10]:
df.ix[[0, 3]]

    year   state  pop
00  2000    Ohio  1.5
03  2001  Nevada  2.4

In [11]:
df.ix[:2]

    year state  pop
00  2000  Ohio  1.5
01  2001  Ohio  1.7

In [14]:
df.ix[[0, -1]]

    year   state  pop
00  2000    Ohio  1.5
04  2002  Nevada  2.9

### 조건 활용

In [17]:
df[df.year==2001]

    year   state  pop
01  2001    Ohio  1.7
03  2001  Nevada  2.4

In [10]:
df[(df['pop']<3) & (df['pop']>2)]

    year   state  pop
03  2001  Nevada  2.4
04  2002  Nevada  2.9

In [16]:
np.where(df['pop']>2)

(array([2, 3, 4], dtype=int64),)

In [17]:
df['size'] = np.where(df['pop']>2, 'big', 'small')
df

    year   state  pop   size
00  2000    Ohio  1.5  small
01  2001    Ohio  1.7  small
02  2002    Ohio  3.6    big
03  2001  Nevada  2.4    big
04  2002  Nevada  2.9    big

# 행, 열 정보 모두 사용하여 불러오기

In [23]:
df.ix['02', 'year']

2002

In [24]:
df.ix['02', ['year', 'state']]

year     2002
state    Ohio
Name: 02, dtype: object

In [25]:
df.ix[['01','03'],['state','pop']]

     state  pop
01    Ohio  1.7
03  Nevada  2.4

In [35]:
df.ix[df['pop']>2.0, ['state']]

     state
02    Ohio
03  Nevada
04  Nevada

조건이 들어가는 계산식은 특정 행들(observation들)을 분리하는데에 주로 사용. 걸러진 행들의 어떤 정보(column)를 볼 것인지를 결정할 수 있음.