# sum(), mean(), idxmax(), describe(), unique(), value_counts()

In [18]:
from pandas import DataFrame
import numpy as np
data = {'state': ['Ohio', 'Ohio', 'Ohio', 'Nevada', 'Nevada'],
        'year': [2000, 2001, 2002, 2001, 2002],
        'pop': [1.5, 1.7, 3.6, 2.4, 2.9]}
df = DataFrame(data, columns=['year', 'state', 'pop'], index=['00', '01', '02', '03', '04'])
df

    year   state  pop
00  2000    Ohio  1.5
01  2001    Ohio  1.7
02  2002    Ohio  3.6
03  2001  Nevada  2.4
04  2002  Nevada  2.9

### sum(), mean()

axis=0 : 열 별 계산 (디폴트) <br/>
axis=1 : 행 별 계산

In [23]:
df.sum()

year                        10006
state    OhioOhioOhioNevadaNevada
pop                          12.1
dtype: object

In [28]:
df.year.sum()

10006

In [20]:
df.mean()

year    2001.20
pop        2.42
dtype: float64

### idxmax(): 가장 큰 값을 가지는 인덱스를 반환

In [27]:
df['pop'].idxmax() # pop값이 가장 큰 '02'번 observation

'02'

### describe()
숫자랑 스트링 섞여있으면 숫자 관련 내용만 보여줌

In [29]:
df.describe()

             year       pop
count     5.00000  5.000000
mean   2001.20000  2.420000
std       0.83666  0.864292
min    2000.00000  1.500000
25%    2001.00000  1.700000
50%    2001.00000  2.400000
75%    2002.00000  2.900000
max    2002.00000  3.600000

스트링으로 구성된 열은 따로 describe()하면 됨

In [30]:
df['state'].describe()

count        5
unique       2
top       Ohio
freq         3
Name: state, dtype: object

### unique(), value_counts()

In [31]:
df['state'].unique()

array(['Ohio', 'Nevada'], dtype=object)

In [32]:
df['state'].value_counts()

Ohio      3
Nevada    2
Name: state, dtype: int64

### 데이터 사이에 NaN 값이 껴있는 경우
디폴트로 NaN값은 스킵하고 계산하게 되어 있음 (skipna=True)<br/>
skipna=False로 해주면 데이터에 NaN이 하나라도 껴있으면 NaN을 반환

In [12]:
df.ix[1,0] = np.nan
df.ix[['02','03'], 'pop' ] = np.nan
df['debt'] = np.nan
df

      year   state  pop  debt
00  2000.0    Ohio  1.5   NaN
01     NaN    Ohio  1.7   NaN
02  2002.0    Ohio  NaN   NaN
03  2001.0  Nevada  NaN   NaN
04  2002.0  Nevada  2.9   NaN

In [15]:
df.mean()

year    2001.250000
pop        2.033333
debt            NaN
dtype: float64

In [14]:
df.mean(skipna=False)

year   NaN
pop    NaN
debt   NaN
dtype: float64

In [17]:
df.sum(skipna=False)

year                          NaN
state    OhioOhioOhioNevadaNevada
pop                           NaN
debt                          NaN
dtype: object