### DataFrame.loc[]을 활용하여 추가 가능

In [1]:
from pandas import DataFrame

In [2]:
data = [
    ['small', 'pink', 30000],
    ['medium', 'red', 25000],
    ['extra_large', 'gray', 18000]
]
df = DataFrame(data, columns=['size', 'color', 'price'])
df

          size color  price
0        small  pink  30000
1       medium   red  25000
2  extra_large  gray  18000

In [3]:
df.loc[3] = ['M', 'gray', 42000]
df

          size color  price
0        small  pink  30000
1       medium   red  25000
2  extra_large  gray  18000
3            M  gray  42000