### mapping 시스템을 딕셔너리로 만들고 목표 시리즈에 mapping 적용

In [1]:
from pandas import DataFrame

In [10]:
data = [
    ['small', 'pink', 30000],
    ['medium', 'red', 25000],
    ['extra_large', 'gray', 18000]
]
df = DataFrame(data, columns=['size', 'color', 'price'])
df

          size color  price
0        small  pink  30000
1       medium   red  25000
2  extra_large  gray  18000

In [11]:
mapping = {
    'small':'S',
    'medium':'M',
    'extra_large':'XL'
}
df.size = df['size'].map(mapping)
df

  size color  price
0    S  pink  30000
1    M   red  25000
2   XL  gray  18000

### for문을 활용하여 mapping 딕셔너리 생성하기

In [ ]:
df